#sidebar{
    height: 0;
}
@media (min-width: 992px) {
    #sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 15rem;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
  