.todo-list{
    padding: 0%;
}
.todo-item{
    /* display: inline; */
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    border-radius: 0.6em;
    margin-bottom: 5px;
    color: white;
    padding-left: 2vw;
    
}
.todo{
    font-size: 20px;
}
.teal{
    background-color: teal !important;
}
.red{
    background-color: tomato !important;
}
